package ${package}.controller;

import com.quanbu.bds.base.annotation.HttpLog;
import ${package}.dto.${className}Dto;
import ${package}.qo.${className}Qo;
import ${package}.${className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

import javax.validation.Valid;
import javax.validation.constraints.NotBlank;


/**
* @desc: ${comments}
* @author: ${author}
* @email: ${email}
* @date: ${datetime}
* version: 1.0
*/
@RestController
@RequestMapping("${pathName}")
@HttpLog
@Validated
public class ${className}Controller {

	@Autowired
	private ${className}Service ${classname}Service;

    /**
    * 列表
    */
    @GetMapping(value="/list")
    public MultiResult<${className}Dto> list(@Valid ${className}Qo qo){
        return ${classname}Service.queryList(qo);
    }

    /**
    * 列表分页
    */
    @GetMapping(value="/page")
    public MultiResult<${className}Dto> page(@Valid ${className}Qo qo){
        return ${classname}Service.page(qo);
    }

    /**
     * 详情
     */
    @GetMapping(value="/detail/{${pk.attrname}}")
    public SingleResult<${className}Dto> detail(@NotBlank(message = "${pk.attrname}参数不能为空")
                                                  @PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}){
        return ${classname}Service.selectByPrimaryKey(${pk.attrname});
    }

    /**
     * 保存
     */
    @PostMapping(value="/save")
    public SingleResult save(@Valid @RequestBody ${className}Dto dto){
        return ${classname}Service.insertSelective(dto);
    }

    /**
     * 修改
     */
    @PostMapping(value="/update")
    public SingleResult update(@Valid @RequestBody ${className}Dto dto){
        return ${classname}Service.updateByPrimaryKeySelective(dto);
    }

    /**
    * 删除(支持批量)
    */
    @PostMapping(value="/delete")
    public SingleResult delete(@RequestBody ${pk.attrType} [] ${pk.attrname}s){
        return ${classname}Service.deleteBatch(${pk.attrname}s);
    }


}
