/*
* Copyright (c) 2017-2020  ALL RIGHTS RESERVED.
* company    致景科技
*/

package ${package};

import com.quanbu.erpCommon.base.annotation.HttpLog;
import com.quanbu.erpCommon.base.annotation.OperationLogRecord;
import com.quanbu.erpCommon.base.MultiResult;
import com.quanbu.erpCommon.base.SingleResult;
import com.quanbu.erpCommon.operate.enums.SysOperateTypeEnum;
import ${package}.dto.${className}Dto;
import ${package}.query.${className}Qo;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

import javax.validation.Valid;
import javax.validation.constraints.NotBlank;
import java.util.List;


/**
* ${comments}控制器
*
* @author:      ${author}
* @email:       ${email}
* @createDate:  ${datetime}
* version:      1.0
*/
@RestController
@RequestMapping("/${pathName}")
@HttpLog
@Validated
public class ${className}Controller {

	@Autowired
	private ${className}Service ${classname}Service;

    /**
    * 列表
    */
    @GetMapping(value="/list")
    public MultiResult<${className}Dto> list(@Valid ${className}Qo qo){
        return ${classname}Service.queryList(qo);
    }

    /**
    * 列表分页
    */
    @GetMapping(value="/page")
    public MultiResult<${className}Dto> page(@Valid ${className}Qo qo){
        return ${classname}Service.page(qo);
    }

    /**
     * 详情
     */
    @GetMapping(value="/detail")
    public SingleResult<${className}Dto> detail(@NotBlank(message = "${pk.attrname}参数不能为空") ${pk.attrType} ${pk.attrname}){
        return ${classname}Service.selectByPrimaryKey(${pk.attrname});
    }

    /**
     * 保存
     */
    @OperationLogRecord(type = SysOperateTypeEnum.ADD, desc = "${comments}保存")
    @PostMapping(value="/save")
    public SingleResult<Integer> save(@Valid @RequestBody ${className}Dto dto){
        return ${classname}Service.insertSelective(dto);
    }

    /**
     * 修改
     */
    @OperationLogRecord(type = SysOperateTypeEnum.UPDATE, desc = "${comments}修改")
    @PostMapping(value="/update")
    public SingleResult<Integer> update(@Valid @RequestBody ${className}Dto dto){
        return ${classname}Service.updateByPrimaryKeySelective(dto);
    }

    /**
    * 删除(支持批量删除)
    */
    @OperationLogRecord(type = SysOperateTypeEnum.DELETE, desc = "${comments}删除")
    @PostMapping(value="/delete")
    public SingleResult<Integer> delete(@RequestBody List<${pk.attrType}> ${pk.attrname}s){
        return ${classname}Service.deleteBatchByPkList(${pk.attrname}s);
    }


}
