<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.mapper.${className}Mapper">

    <select id="queryList" resultType="${package}.dto.${className}Dto">
        SELECT * FROM ${tableName}
        <!-- 这里字段目前统一按string类型做生成处理，自己可按属性实际类型做适当的if判断修改-->
        <where>
            #foreach ($column in $columns)<if test="${column.attrname} != null and ${column.attrname} != ''">
                ${column.columnName} = #{${column.attrname}}
            </if>
            #end</where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                order by ${orderBy} ${order}
            </when>
            <otherwise>
                order by ${pk.columnName} desc
            </otherwise>
        </choose>
    </select>

    <delete id="deleteBatch">
        delete from ${tableName} where ${pk.columnName} in
        <foreach item="${pk.attrname}" collection="array" open="(" separator="," close=")">
            #{${pk.attrname}}
        </foreach>
    </delete>
</mapper>