/*
 * Copyright (c) 2017-2020  ALL RIGHTS RESERVED.
 * company    致景科技
 */

package ${package}.mapper;

import java.util.List;
import com.quanbu.erpCommon.base.basemapper.BaseTKMapper;
import ${package}.dto.${className}Dto;
import ${package}.query.${className}Qo;



/**
* @desc: ${comments}
* @author: ${author}
* @email: ${email}
* @date: ${datetime}
* version: 1.0
*/
public interface ${className}Mapper extends BaseTKMapper<${className}Dto,${pk.attrType}> {

    /**
    * 条件列表查询
    * @param qo 条件对象
    * @return 返回符合条件的对象集合
    */
    List<${className}Dto> queryList(${className}Qo qo);
}
