package ${package}.dao;

import java.util.List;
import java.util.Map;
import ${package}.base.BaseTKMapper;
import ${package}.entity.${className};
import org.apache.ibatis.annotations.Param;


/**
* @desc: ${comments}
* @author: ${author}
* @email: ${email}
* @date: ${datetime}
* version: 1.0
*/
public interface ${className}Mapper extends BaseTKMapper<${className}Dto> {

    /**
    * 条件列表查询
    * @param qo 条件对象
    * @return 返回符合条件的对象集合
    */
    List<${className}Dto> queryList(${className}Qo qo);

    /**
    * 批量删除
    * @param ${pk.attrname}s 删除的住建集合
    */
    void deleteBatch(${pk.attrType}[] ${pk.attrname}s);
}
