package ${package}.service;

import ${package}.dto.${className}Dto;
import ${package}.base.BaseService;
import ${package}.base.SingleResult;
import ${package}.base.MultiResult;
import ${package}.qo.${className}Qo;

/**
* @desc: ${comments}
* @author: ${author}
* @email: ${email}
* @date: ${datetime}
* version: 1.0
*/
public interface ${className}Service extends BaseService<${className}Dto,${pk.attrType}> {

    MultiResult<${className}Dto> queryList(${className}Qo qo);

    MultiResult<${className}Dto> page(${className}Qo qo);

    SingleResult deleteBatch(${pk.attrType}[] ${pk.attrname}s);
}
