/*
 * Copyright (c) 2017-2020  ALL RIGHTS RESERVED.
 * company    致景科技
 */

package ${package}.impl;

import com.github.pagehelper.PageInfo;
import com.github.pagehelper.page.PageMethod;
import com.quanbu.erpCommon.base.MultiResult;
import com.quanbu.erpCommon.base.basemapper.BaseTKMapper;
import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import com.quanbu.erpCommon.base.service.impl.BaseServiceImpl;
import ${package}.mapper.${className}Mapper;
import ${package}.dto.${className}Dto;
import ${package}.query.${className}Qo;
import java.util.List;



/**
* @desc: ${comments}业务实现类
* @author: ${author}
* @email: ${email}
* @date: ${datetime}
* version: 1.0
*/
@Service("${classname}Service")
@Slf4j
// @Transactional
public class ${className}ServiceImpl extends BaseServiceImpl<${className}Dto,${pk.attrType}> implements ${className}Service {

	@Autowired
	private ${className}Mapper ${classname}Mapper;

    @Override
    protected BaseTKMapper<${className}Dto,${pk.attrType}> getBaseMapper() {
        return ${classname}Mapper;
    }

    @Override
    public MultiResult<${className}Dto> queryList(${className}Qo qo){
        return new MultiResult().ok(${classname}Mapper.queryList(qo));
    }

    @Override
    public MultiResult<${className}Dto> page(${className}Qo qo){
        PageMethod.startPage(qo.getPageNo(),qo.getPageSize());
        List<${className}Dto> list = ${classname}Mapper.queryList(qo);
        return new MultiResult().okPage(new PageInfo(list));
    }

}
