/*
 * Copyright (c) 2017-2020  ALL RIGHTS RESERVED.
 * company    致景科技
 */

package ${package}.vo;

import java.io.Serializable;
import java.util.Date;
import lombok.Data;


#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
* @desc: ${comments}数据展示对象
* @author: ${author}
* @email: ${email}
* @date: ${datetime}
* version: 1.0
*/
@Data
public class ${className}Vo implements Serializable {

	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	/**
	*  $column.comments
	*/
	private $column.attrType $column.attrname;
#end
}
